::ng-deep .ck-editor__editable_inline {
    min-height: 400px;
}

::ng-deep .ck-content {
    table {
        border-collapse: collapse;
        width: 100%;
        td, th {
            border: 1px solid #bfbfbf;
            padding: 8px;
        }
    }
}