name: Build and Deploy

on:
  push:
    branches:
      - main 

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '13'

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build -- --prod --base-href="https://${{ github.repository_owner }}.github.io/${{ github.event.repository.name }}/"

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist/ckeditor-angular
          branch: gh-pages